/* FONTS */

/* Display Fonts */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url("Inter-roman.ttf") format("truetype");
  font-named-instance: "Regular";
}

/* IBM Plex Sans */
@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/display/IBMPlexSans-Regular.ttf") format("truetype");
}

/* Add other font-face definitions similarly, updating the path */
@font-face {
  font-family: "IBMPlexSans";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/display/IBMPlexSans-Italic.ttf") format("truetype");
}

/* Additional font definitions here... */

/* IBM Plex Mono */
@font-face {
  font-family: "IBMPlexMono";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/monospace/IBMPlexMono-Regular.ttf") format("truetype");
}

/* Add other font-face definitions for IBMPlexMono similarly */
@font-face {
  font-family: "IBMPlexMono";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/monospace/IBMPlexMono-Italic.ttf") format("truetype");
}

/* Additional font definitions here... */

/* Fira Code */
@font-face {
  font-family: "FiraCode";
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url("./fonts/FiraCode/FiraCode-vf.ttf") format("truetype");
}

